[submodule "mfe-auth"]
	path = mfe-auth
	url = https://github.com/RaphaelFillipi/SysCall-Auth.git
[submodule "mfe-agenda"]
	path = mfe-agenda
	url = https://github.com/RaphaelFillipi/SysCall-Agenda.git
[submodule "mfe-root"]
	path = mfe-root
	url = https://github.com/RaphaelFillipi/SysCall-Root.git
[submodule "mfe-sidebar"]
	path = mfe-sidebar
	url = https://github.com/RaphaelFillipi/SysCall-Sidebar.git
[submodule "mfe-call-history"]
	path = mfe-call-history
	url = https://github.com/RaphaelFillipi/SysCall-History.git
